<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="container w-75">
            <h1>Edit Product</h1>
        </div>
        <div class="container w-50 d-flex justify-content-end align-items-center">
            {% if user.user_level > 0 %}
            <a href="/admin/" class="btn btn-primary">Admin</a>
            {%endif%}
            <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
        <div class="container">
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
            <form action="/admin/edit_inventory" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{user.id}}">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <label for="product_name">Product Name:</label>
                <input class="d-block" type="text" name="product_name" value="{{product.name}}">
                <label for="amount">Amount:</label>
                <input class="d-block" type="text" name="amount" value="{{product.amount}}">
                <label for="cost_to_make">Cost:</label>
                <input class="d-block" type='text' name="cost_to_make" value="{{product.cost_to_make}}">
                <label for="price">Price:</label>
                <input class="d-block" type="text" name="price" value="{{product.price}}">
                <label for="description">Description:</label>
                <textarea class="d-block" name="description" cols="30" rows="5" value="{{product.description}}">{{product.description}}</textarea>
                <button type="submit" class='btn btn-sm btn-primary'>Submit</button>
            </form>
            <a href="/admin/inventory" class="btn btn-warning btn-sm">Cancel</a>
        </div>
        <div class="container d-flex justify-content-end mr-5 pr-5">
            <a href="/admin/item/{{product.id}}/delete" class='mr-5 btn btn-danger btn-sm'>Delete Item</a>
        </div>
    </div>
</body>